/* Styling for the inputs container */
.inputs-container {
  padding: 20px;
  border: 2px solid #29333F;
  background-color: #0F1927;
  text-align: center;
  max-width: 1200px;  // Max width for larger screens
  margin: auto;  // Center the form on the page
  color: white;
}

/* Styling for rows of input fields */
.input-row {
  display: grid; /* Use CSS Grid for dynamic layout */
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjusted for smaller input fields */
  gap: 5px; /* Space between input fields */
  justify-content: center;  /* Ensure the fields are centered */
  width: 100%;
  padding: 0;
}

/* Styling for form fields */

.mdc-text-field {
  padding: 0 !important;  // Removes padding on the outermost wrapper
}

.mdc-text-field .mdc-text-field__input {
  padding: 0 !important;  // Removes padding inside the input field itself
}

/* Optional: Styling for the button */
button {
  width: 100%;  // Make the button take full width
  max-width: 200px;  // Limit button width
  height: calc(100% - 20px); ;
  margin-left: auto;
  margin-right: auto;
}

/* Style for the button container */
.button-container {
  text-align: center;
  width: 100%;  // Ensure the button takes full width on smaller screens
  display: flex;
  justify-content: center;  // Center the button horizontally
}

/* Media Queries for responsiveness */
@media (max-width: 900px) {
  /* This is where we can adjust behavior for smaller screens if necessary */
  .inputs-container .mat-form-field {
    min-width: 150px;  /* Slightly smaller input fields for smaller screens */
  }
}

@media (max-width: 600px) {
  /* Stack everything in a single column layout */
  .inputs-container .mat-form-field {
    min-width: 100%;  /* Ensure inputs take full width on mobile */
  }

  .button-container {
    width: 100%;  // Ensure the button takes full width on smaller screens
  }
}
